<!-- templates/hello.html -->

<!doctype html>
<html>
    <head> <!-- informace, které se nezobrazují přímo ve funkci -->
        <title>Hello from Flask</title> <!-- jméno záložky -->
    </head> <!-- až sem je to hlavička -->
    <body>
        {% if name %}
            <h1>Hello {{ name | cap }}!</h1> <!-- vloží se mi tam hodnota toho výrazu -->
            <a href="{{ url_for('hello') }}">Go back home</a> <!-- má atribut href, který říká, kam to odkazuje -->
        {% else %} <!-- když to jméno nemám, ukáže se nadpis bez toho odkazu -->
            <h1>Hello, World!</h1>
        {% endif %}
        <img src="{{url_for('static', filename='forrest.jpg')}}"
    </body>
</html>

<!-- static/forrest.jpg-->
